.sort {
  background-color: #fff;
  max-width: 1274px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-items: space-around;
  border-radius: 12px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
  margin-top: 50px;
  margin-bottom: 10px;
}
.sort div {
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #202326;
}
select {
  width: 90px;
  height: 35px;
  background: #556274;
  border: none;
  border-radius: 17px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.select option {
    font-size: 13px;
  line-height: 16px;
  text-align: center;
}
