.sort {
  background-color: #fff;
  max-width: 1274px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.sort span {
  
  margin-left: 32px;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #202326;
}
.select {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  width: 90px;
  height: 35px;
  background: #556274;
  border: none;
  border-radius: 17px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
select {
  font-size: 13px;
  line-height: 16px;
  width: 90px;
  height: 35px;
  color: #556274;
  border: 1px solid #556274;
  border-radius: 17px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
select option {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color:#556274;
}
.select option {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color:#fff;
}
select:active {
  border: none;
}
