.advertising {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #ededed;
  height: 300px;
  width: 1440px;
  padding-left: 114px;
}
.advertising div a {
  display: block;
  color: #272b2f;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-top: 26px;

  margin-bottom: 12px;
}
.advertising .adimg {
  width: 1197px;
  display: block;
}
.adimg375{
  display: none;
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .advertising {
    padding-left: 37px;
    max-width: 971px;
    height: 252px;
  }

  .advertising .adimg {
    width: 950px;
  }
}
@media screen and (max-width: 375px) {
  .advertising {
    max-width: 375px;
    padding: 0;
    height: 509px;
    margin: -16px;
  }
  .advertising .adimg {
    display: none;
  }
  .advertising div a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
  }
  .adimg375{
    display: block;
    height: 408px;
    width: 100%;
    margin-left: -20px;
  }
  
}
