.advertising {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #ededed;
  height: 300px;
  width: 1440px;
  padding-left: 114px;
 
}
.advertising div a {
  display: block;
  color: #272b2f;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-top: 26px;
  
  margin-bottom: 12px;
}
.advertising   img{
  width: 1197px;
  display: block;
  
  
}

@media (max-width: 1024px) {
  .advertising {
    padding-left: 37px;
    max-width: 1024px;
    height: 252px;
  }

  .advertising   img{
    width: 950px;
    
  }
}